
<div class="row">
  <div class="col-sm-6">
    <div class="about">
      <div class="title">
        <h2>Becoming a developer</h2>
      </div>
      <p>
        Back in 2008 I started with my study Management Economics and Law specializing in Real Estate.
        I felt attracted to the free caracter of the Real Estate and I figured that my communication skills would benefit me in this field.
      </p>
      <p>
        A few years later, I worked for a Real Estate project development company, where I had a great challange to translate buyers whishes to the executors.
        Then I decided to find a job with more guarantee and I became a Business Consultant in Finance.
      </p>
      <p>
        During my time as a Business Consultant I became more aware of the fact that I wanted to do something with my predilection for tech.
        After some research I realized that becoming a developer suits me perfectly.
      </p>
      <p>
        As a Business Consultant I have spent all my spare time and training budget to learn my first programming skills. After a year of training, I wanted to focus on programming fulltime.
        I have quit my job and became an intern within a startup in web development. A few months later I got the opportunity to start at the bootcamp of Codaisseur. This experience gave me the kickstart to be the junior developer I am today.
      </p>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="about">
      <h2>Skill development</h2>
      <h3>Skills I have</h3>
      <p><strong>Back-End</strong></p>
      <ul>
        <li>Ruby on Rails</li>
        <li>Testing with RSpec</li>
        <li>SQL</li>
        <li>PostgreSQL</li>
      </ul>
      <p><strong>Front-End</strong></p>
      <ul>
        <li>Responsive Design</li>
        <li>HTML & CSS</li>
        <li>Sass & Compass</li>
        <li>JavaScript & jQuery</li>
        <li>AngularJS</li>
        <li>ReactJS</li>
      </ul>
      <p><strong>Management</strong></p>
      <ul>
        <li>Source Versioning with Git</li>
      </ul>
    </div>
  </div>
</div>
